*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:black;
}

.btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
}
.hero{
    height:90vh;

    background-image:
    linear-gradient(rgba(0,0,0,.6),
    rgba(0,0,0,.6)),
    url("./images/banner.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.overlay{
    color:white;
    max-width:700px;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
    line-height:1.6;
}

.hero-btn{

    background:#2563eb;

    color:white;

    border:none;

    padding:15px 35px;

    border-radius:8px;

    font-size:18px;

    cursor:pointer;
}
.speakers{
    padding:80px 10%;
    text-align:center;
}

.speakers h2{
    font-size:42px;
    margin-bottom:50px;
}

.speaker-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.speaker-card{
    background:#fff;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    text-align:left;
}

.speaker-card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.category{
    color:#2563eb;
    font-size:14px;
    font-weight:bold;
    margin:20px 20px 10px;
    text-transform:uppercase;
}

.speaker-card h3{
    margin:0 20px;
    font-size:24px;
}

.speaker-card span{
    display:block;
    margin:10px 20px 20px;
    color:gray;
}

.pricing{
    padding:80px 10%;
    text-align:center;
    background:#f8f9fc;
}

.pricing h2{
    font-size:42px;
}

.subtitle{
    color:gray;
    margin:15px 0 40px;
}

.pricing-container{
    display:flex;
    gap:25px;
    justify-content:center;
}

.price-card{
    flex:1;
    background:white;
    padding:35px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.price-card h5{
   margin:20px 0;
    font: size 10px;
    text-align:left;
    color: gray;
    
}  

.price-card h1{
    margin:20px 0;
    font-size:48px;
    text-align: start;
}
.price-card h6{
    color: grey;
    text-align: start;
}

.price-card ul{
    list-style:disc;
    text-align:left;
    margin:25px 0;
    padding-left:20px;
}
.extra{
    background: #ddd;
}
.featured{
    background:#0f172a;
    color:white;
    transform:scale(1.05);
}
.featured h5{
color:cornflowerblue;
}

.featured button{
    background:#2563eb;
}

.featured ul{
    color:#ddd;
}

.price-card li{
    margin:10px 0;
}
.special{
background:#f8f9fc;
    color:black
    /* transform:scale(1.05); */
}
  .standard-btn{
    width:100%;
    padding:16px;
    background:white;
    color:#2563eb;
    border:2px solid #2563eb;
    border-radius:8px;
    font-weight:600;
    cursor:pointer;
}
.pro-btn{
    width:100%;
    padding:16px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    font-weight:600;
    cursor:pointer;
}
.team-btn{
    width:100%;
    padding:16px;
    background:#ddd;
    color:black;
    border:2px solid black;
    border-radius:8px;
    font-weight:600;
    cursor:pointer;
}

.price-card{
    transition:.3s;
}

.price-card:hover{
    transform:translateY(-10px);
}

.featured:hover{
    transform:scale(1.05) translateY(-10px);
}
.schedule{
    padding:80px 10%;
    text-align:center;
}

.schedule h2{
    font-size:42px;
    margin-bottom:15px;
}

.schedule p{
    color:gray;
    margin-bottom:40px;
}

.timeline{
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
}

.event{
    width:300px;
    padding:30px;
    background:#ffffff;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.event:hover{
    transform:translateY(-8px);
}

.event h3{
    color:#2563eb;
    margin-bottom:10px;
}

.event h4{
    margin-bottom:15px;
}
footer{
    background:#111827;
    color:white;
    padding:40px 10%;
}

.footer-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

.social a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

footer hr{
    margin:30px 0;
    border:1px solid #444;
}

footer p{
    text-align:center;
}

